# not ignore source code files,input/output files
atcoder/**/*.*
codechef/**/*.*
spoj/**/*.*
codeforces/**/*.*
!*.java
!*.cpp
!*.py
!*.kt
!*.md
!atcoder/**/*.java
!atcoder/**/*.cpp
!atcoder/**/*.py
!atcoder/**/*.kt
!atcoder/**/*.inp
!atcoder/**/*.out
!codechef/**/*.java
!codechef/**/*.cpp
!codechef/**/*.py
!codechef/**/*.kt
!codechef/**/*.inp
!codechef/**/*.out
!spoj/**/*.java
!spoj/**/*.cpp
!spoj/**/*.py
!spoj/**/*.kt
!spoj/**/*.inp
!spoj/**/*.out
!codeforces/**/*.java
!codeforces/**/*.cpp
!codeforces/**/*.py
!codeforces/**/*.kt
!codeforces/**/*.inp
!codeforces/**/*.out
